In [2]:
list1 = ["lion", "monkey", "dog","fish"]
tuple1 = ("lion", "monkey", "dog","fish")
set1 = {"lion", "monkey", "dog","fish"}
dict1 = {"lion":"land", "monkey":"land", "dog":"land","fish":"water"}

for i in list1:
    print(i)
for i in tuple1:
    print(i)
for i in set1:
    print(i)
for i in dict1:
    if dict1[i] == "land":
        print(f"{i}, lives on land")

lion
monkey
dog
fish
lion
monkey
dog
fish
dog
fish
monkey
lion
lion, lives on land
monkey, lives on land
dog, lives on land

In [10]:
print(len(list1))
print(len(tuple1))
print(len(set1))
print(len(dict1))

4
4
4
4

In [12]:
print(list1[0])
print(tuple1[0])

lion
lion

In [37]:
print(dict1["lion"])

land

In [41]:

list1[1] = "rabbit"

In [46]:
#tuples can not be changes
tuple1[1] = "rabbit"

TypeError: 'tuple' object does not support item assignment

SyntaxError: invalid syntax (761216002.py, line 4)

In [56]:
list1.append("monkey")

In [58]:
list1

['lion', 'rabbit', 'dog', 'fish', 'monkey']

In [ ]:
list1.remove("rabbit")

In [65]:
dict1["fish"] = 0

In [66]:
dict1

{'lion': 'land', 'monkey': 'land', 'dog': 'land', 'fish': 0}

In [ ]:
Remember list,set,dictionary are mutable and tuple is immutable list,tuple elements can be reached by index
for dictionary it is not an option to reach by index the element key has to be known to reach
and for set the items cannot be reached directly but it is possible to iterate.

print the lengths of list1,tuple1,set1,dict1
print the first element of list1 and tuple1
print the value of lion key of dict1
change the 2nd position element of list1 to "rabbit"
try to change the 2nd position element of the tuple to "rabbit" and explain what happened.
add "monkey" to list1
remove "rabbit" from list1
in dict1 the number of feet is written as value to each animal the fish has wrong value just fix it.